.login-text{
    text-align: center;
    color: white;
}
.main-login-container{

    top:50%;
   box-sizing: border-box;
    transform: translate(0,50%);
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(32, 28, 28);
    height: max-content;
    padding: 2em;
    border-radius: 0.5em;
}
.all-login-form-container{
    margin-top: 2em;
    margin-bottom: 4em;
    width: 32vw;
    margin-left: auto;
    margin-right: auto;
 
}

.all-login-form-container .input{
    width: 100%;
    background-color: transparent;
    border: none;
    background: transparent;
    border-bottom:solid 1px white;
    outline: none;
    color: gray;
    margin:0.7em 0 1em 0;
}
.login-btn{
    width: 100%;
    padding: 0.8em;
    background-color:rgb(100, 74, 27);
    border: none;
    border-radius: 3em;
    color: white;
}
.login-container{
    margin-top: 2em;
    width: 32vw;
    margin-left: auto;
    margin-right: auto;
    

}
label{
    color: white;
    font-size: 1rem;
}