main > div:not(:nth-child(1)) {
  margin-top: 7em;
}
main {
  background-color: var(--lighter-bg-color);
}
.welcome-container {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  align-items: center;
  background-color: var(--background-color-2);
  padding: 4em 8em;
  column-gap: 10px;
}
.welcome-heading {
  color: var(--background-color);
  text-align: center;
  font-size: 4rem;
}
.background {
  color: var(--background-color-low-opacity);
  font-size: 1.6rem;
}
.team-tile {
  font-size: 2.5rem;
  color: var(--background-color);
  text-align: center;
  margin-bottom: 1em;
  border-bottom: solid var(--paragraph-color) 1px;
}
.team-container {
  width: 90%;
  border: solid 2px var(--background-color);
  padding: 2em;
  border-radius: 5px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.team-box-holder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  justify-content: space-around;
  gap: 0.5em;
}
.team-leader-photo {
  width: 120px;
  height: 120px;
  border: solid 2px var(--background-color);
  object-fit: cover;
  border-radius: 50%;
}
.name-title {
  font-size: 1.4rem;
  text-align: center;
  color: var(--background-color);
}
.team-contact {
  padding: 0.5em;
  text-align: center;
  color: var(--background-color);
}
.phone-no {
  list-style: none;
  color: var(--background-color);
  font-size: 1rem;
  text-align: center;
  font-size: 1.2rem;
}

.role {
  color: var(--background-color);
}
.mission-vision-container {
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  padding: 2em;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
}
.mission-vision-container p {
  color: rgba(255, 255, 255, 0.747);
  font-size: 1.7rem;
}
.mission-vission-desc {
  display: grid;
  place-items: center;
}
.mission-vission-desc-title {
  font-size: 5rem;
  color: white;
  font-weight: 900;
  margin-left: 1em;
}
.vission-container {
  margin-top: 2em;
}
.mission-title {
  font-size: 2.5em;
  text-align: right;
  font-weight: 900;
  color: #ffb070;
}
.vission-title {
  font-size: 2.5em;
  font-weight: 900;
  color: #ffb070;
}
fieldset {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 1px #ffb070 solid;
  border-radius: 0.6em;
  padding: 2em;
}
.info-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(161, 148, 123, 0.7),
      rgba(158, 141, 47, 0.5)
    ),
    url(deluxe-bedroom.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  filter: blur(0.5px);
  padding: 3em 1em 3em 1em;
  margin-top: 3em;
  gap: 1vw;
}
.info-container p {
  color: rgb(0, 0, 0);
  font-size: 1.7rem;
}
.location-hour-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  place-items: center;
  align-items: start;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
}
.location-container {
  /* display: grid;
    grid-template-columns: 0.3fr 1fr; */
}
.hour-container {
  /* display: grid;
    grid-template-columns: 0.3fr 1fr; */
}

.info-c {
  border: solid var(--background-color) 2px;
  height: 100%;
  padding: 1em;
  border-radius: 3px;
}
.info-title {
  text-align: center;
  font-size: 3.5rem;
  color: white;
  z-index: 300;
}

@media (max-width: 1300px) {
  .team-box-holder {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 5vw;
  }
  .team-box {
    width: 80%;
  }
  .team-box img {
    object-fit: cover;
  }
}
