#main-header{
    display: grid;
    place-items: center;
    background-color: var(--background-color);
    padding: 0em 2em 2em 2em;
    height: 100svh;
    width: 100%;
    position: relative;
}

.header-bg-video{
    display: none;
}

.motto-container{
    width: 100%;
    padding: 0em 2em;
}

.motto-hotel-name {
    width: 50%;
    border-bottom: solid 2px var(--special-texts-color);
}

.motto-hotel-name > h1 {
    font-size: 2.5rem;
    color: var(--special-texts-color);
}


.motto-container > h1 {
    font-size: 5rem;
    max-width: 50%;
    color: var(--header-color-white);
}

.motto-container > h1 > span {
    color: var(--special-texts-color);
}







@media screen and (min-width: 1000px){
    #main-header {
        background-color: var(--background-color-low-opacity);
    }
    .header-bg-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        display: block;
    }
}
